@import url("/assets/public/fonts/font.css");
@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoEB";
  src: url("AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoH";
  src: url("AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoL";
  src: url("AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url("AppleSDGothicNeoR.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoSB";
  src: url("AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoT";
  src: url("AppleSDGothicNeoT.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoUL";
  src: url("AppleSDGothicNeoUL.ttf");
}
